.App {
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: sans-serif;
}

.lorem {
  width: 619px;
  height: 283px;
  margin-bottom: 20px;
}

.ipsum {
  width: 619px;
  height: 392px;
}

.lorem,
.ipsum {
  line-height: 21.09px;
  padding: 20px;
  background-color: #c4c4c4;
}

.App h1 {
  font-size: 30px;
  font-weight: 700;
}

.App p {
  font-size: 18px;
}
